<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .card {
          padding: 10px;
          border: none;
          cursor: pointer
      }
      .card:hover {
          background-color: #E3F2FD
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Notes List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-1">Lab 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../lab-4">Lab 4</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <h1>My note</h1>
      <div class="tab-content bg-transparent" style="padding: 10px">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% if notes %}
            {% for note in notes %}  
              <div class="col-md-4 single-note-item all-category" style="width: 18rem;">
                <div class="card card-body">
                  <div class="mb-3">
                  <h4 class="card-header" style="background-color: #CCF69E;">{{note.title}}</h4>
                    <p class="note-person text-muted">To: {{note.to}}</p>
                    <p class="note-person ">{{note.message}}</p>
                  </div>
                  <div class="note-person text-muted border-light mb-3">Regards, {{note.sender}}</div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>