<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Friend List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-1/friends">My Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-4">Lab 4</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <div class="container">
        <table class="table table-success table-striped">
          <tr>
            <th>Name</th>
            <th>NPM</th>
            <th>DOB</th>
          </tr>
          <!-- TODO loop from Friend model -->
          <!-- EXAMPLE SECTION -->
          {% if friends %} 
            {% for x in friends %}
            <tr>
              <td>{{ x.name }}</td>
              <td>{{ x.npm }}</td>
              <td>{{ x.birth_date }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          <!-- END SECTION -->
        </table>
        {% if user.is_authenticated %}
        <button class="btn btn-primary" onclick="window.location.href='add'">Add Friend</button>
        {% endif %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
